.t3-page-columns {
	border-spacing: 10px !important;
	width: auto;
	min-width: 100%;
}

.t3-page-column {
	max-width: initial;
}

.t3-grid-container {
	overflow-x: initial;
	overflow-y: initial;
}

.t3js-module-body .t3-grid-container-title-0,
.t3js-module-body .t3-grid-container-title--1 {
	font-size: 12px;
	font-weight: normal;
	color: #999999;
	padding: 5px 10px;
	margin: 0;
}

.t3js-module-body .t3-grid-container-1 {
	border-style: solid;
	border-width: 1px;
	border-color: #B48062;
	margin: 2px 0 0 0;
}

.t3js-module-body .t3-grid-container-title-1 {
	font-size: 12px;
	font-weight: normal;
	color: #5A4031;
	background: #D9BFB0;
	padding: 5px 10px;
	margin: 0;
}

.t3js-module-body .t3-grid-container-2 {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #BABD5A;
	margin: 2px 0 0 0;
}

.t3js-module-body .t3-grid-container-title-2 {
	font-size: 12px;
	font-weight: normal;
	color: #5D5F2D;
	background: #DCDEAC;
	padding: 5px 10px;
	margin: 0;
}

.t3js-module-body .t3-grid-container-3 {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #427BAB;
	margin: 2px 0 0 0;
}

.t3js-module-body .t3-grid-container-title-3 {
	font-size: 12px;
	font-weight: normal;
	color: #213E56;
	background: #A0BDD5;
	padding: 5px 10px;
	margin: 0;
}

.reference {
	position: relative;
}

.reference > .element-preview {
	transform: scale(95%);
}

.reference-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #427BAB;
	opacity: 0.15;
}

.t3-page-ce-dragitem {
	user-select: none;
	touch-action: none;
}


.t3-page-column-header-icons,
.t3js-page-new-ce {
	visibility: visible;
	opacity: 0.4;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-property: opacity;
	transition-timing-function: ease-in;
}

.t3-page-column-header-icons:hover,
.t3js-page-new-ce:hover {
	opacity: 1;
}

.t3-page-ce-hidden .t3-page-column-header-icons,
.t3-page-ce-hidden .t3js-page-new-ce {
	opacity: 1;
}

.t3-page-column-header-icons .toggle-content {
	display: inline-block;
}

.t3-page-column-header-icons .toggle-content .icon {
	display: none;
}

.t3-page-column-header-icons .toggle-content .icon-actions-view-list-collapse {
	display: inline-block;
}

.collapsed .t3-page-column-header-icons .toggle-content .icon-actions-view-list-collapse {
	display: none;
}

.collapsed .t3-page-column-header-icons .toggle-content .icon-actions-view-list-expand {
	display: inline-block;
}

.collapsed > .t3-page-ce-wrapper * {
	display: none;
}

#recordlist-tt_content > table {
	table-layout: fixed;
	width: auto;
}

#recordlist-tt_content .col-icon,
.col-content-collapse-icon {
	position: relative;
	text-align: right;
}

#recordlist-tt_content .t3js-toggle-gridelements-list {
}

#recordlist-tt_content .t3js-toggle-gridelements-list .icon-actions-view-list-collapse {
	display: none;
}

#recordlist-tt_content .t3js-toggle-gridelements-list .icon-actions-view-list-expand {
	display: inline-block;
}

#recordlist-tt_content .t3js-toggle-gridelements-list.open-gridelements-container .icon-actions-view-list-collapse {
	display: inline-block;
}

#recordlist-tt_content .t3js-toggle-gridelements-list.open-gridelements-container .icon-actions-view-list-expand {
	display: none;
}

#recordlist-tt_content tr.t3-gridelements-child {
	display: none;
}

#recordlist-tt_content tr.t3-gridelements-visible-child {
	display: block;
}

.btn-group {
	white-space: nowrap;
}

.btn-group > .btn {
	position: relative;
	float: none;
}

.t3-page-ce .t3-page-ce-header-icons-right {
	transition: none !important;
	opacity: 0.3;
	float: right;
}

.t3-page-ce:hover .t3-page-ce-header-icons-right {
	opacity: 0.3;
}

.t3-page-ce > div > .t3-page-ce-header-icons-right,
.t3-page-ce > div > div > .t3-page-ce-header-icons-right {
	transition: opacity 0.15s ease-in;
	opacity: 0.3;
}

.t3-page-ce:hover > div > .t3-page-ce-header-icons-right,
.t3-page-ce:hover > div > div > .t3-page-ce-header-icons-right,
.t3-page-ce:hover > div > div > div > .t3-page-ce-header-icons-right {
	opacity: 1;
}

.gridelements-collapsed-column-marker {
	display: none;
}

.collapsed .gridelements-collapsed-column-marker {
	display: block;
}

.t3-grid-cell-horizontal > .t3js-sortable {
	display: table;
	vertical-align: top;
	width: 100%;
}

.t3-grid-cell-horizontal > .t3js-sortable > .ui-draggable {
	display: table-row;
}

.t3-grid-cell-horizontal > .t3js-sortable > .ui-draggable > .ui-droppable {
	margin: 10px;
}

.t3-grid-cell-horizontal > .t3js-sortable > .ui-draggable > .t3js-page-new-ce {
	display: table-cell;
	padding: 10px;
}

.t3-grid-cell-horizontal > .t3js-sortable > .t3js-page-ce-sortable {
	display: table-cell;
	padding: 0px 10px 0px;
	vertical-align: top;
}

.grideditor div.cell_container {
	margin-left: -25px;
	width: 40px;
	height: 65px;
}

.grideditor .cell_data {
	display: inline-block;
	border: 0!important;
	margin-bottom: 15px;
}

.grideditor .cell_data th, .grideditor .cell_data td {
	padding: 0 5px;
	border: 0 !important;
}

.grideditor .cell_data td {
	text-align: left!important;
}

.grideditor .cell_data th {
	text-align: right;
}
.recordlist .expanded {
	display: table-row!important;
}

.t3-grid-cell-number-of-items {
	display: block;
	float: right;
	right: 3rem;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 2px 5px;
	position: absolute;
	z-index: 100;
}

.collapsed .t3-grid-cell-number-of-items {
	display: none;
}

.t3-grid-cell-number-of-items.success {
color:#79a548;
background-color:#d1e2bd;
border-color:#79a548;
}

.t3-grid-cell-number-of-items.warning {
	color: #e8a33d;
	background-color: #fbefdd;
	border-color: #e8a33d;
}

.t3-grid-cell-number-of-items.danger {
	color:#c83c3c;
	background-color:#efc7c7;
	border-color:#c83c3c;
}

.t3-page-ce-danger .t3-page-ce-header {
	-webkit-transition: background .15s ease-in;
	transition: background .15s ease-in;
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
	border-radius: 2px 2px 0 0;
	background: #eaeaea;
}

.t3-page-ce-danger > .t3-page-ce-header {
	background-color: #c83c3c;
	border-color: #c83c3c;
}

.t3-page-ce-danger .t3-page-ce-body {
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-top: 0;
	border-radius: 0 0 2px 2px;
	background-color: #fff;
}

.t3-page-ce-danger > .t3-page-ce-body {
	border-color: #c83c3c;
}

.t3-page-ce-disable-new-ce > .t3-page-ce > .t3-page-ce-wrapper-new-ce,
.t3-page-ce-disable-new-ce > .t3-page-ce-wrapper > .t3-page-ce > .t3-page-ce-wrapper-new-ce,
.t3-page-ce-disable-new-ce > .t3-page-ce-wrapper > .t3-page-ce > .t3-page-ce-dragitem > .t3-page-ce-wrapper-new-ce,
.t3-page-ce-disable-new-ce > .t3-page-ce-wrapper > .t3-page-ce > .t3-page-ce > .t3-page-ce-wrapper-new-ce {
    visibility: hidden;
}