includes:
    - phpstan-baseline.neon

parameters:
    parallel:
        maximumNumberOfProcesses: 5

    level: 2

    bootstrapFiles:
        - .Build/vendor/autoload.php

    scanFiles:
        - ext_localconf.php

    scanDirectories:
        - public

    paths:
        - Classes

    excludePaths:
        - Classes/Backend/LayoutSetup.php
        - Classes/Hooks/TtContentFlexForm.php
        - Classes/Updates/GridelementsBackendLayoutIconUpdateWizard.php
        - Classes/Updates/GridelementsBackendLayoutPiFlexformDsFileUpdateWizard.php
