parameters:
	excludePaths:
		-	Classes/Wizard/*
	ignoreErrors:
		-
			message: "#^Constant TYPO3_MODE not found\\.$#"
			count: 1
			path: Classes/Backend/LayoutSetup.php
		-
			message: "#^Class TYPO3\\\\CMS\\\\Fluid\\\\View\\\\StandaloneView not found\\.$#"
			count: 1
			path: Classes/PageLayoutView/GridelementsPreviewRenderer.php
