<td valign="top"
    colspan="{column.colSpan}"
    rowspan="{column.rowSpan}"
    data-colpos="{column.columnNumber}"
    data-columnkey="{column.gridContainerId}_{column.columnNumber}"
    data-language-uid="{column.context.siteLanguage.languageId}"
    {f:if(condition: column.allowedContentType, then: 'data-allowed-ctype="{column.allowedContentType}"')}
    {f:if(condition: column.allowedListType, then: 'data-allowed-list_type="{column.allowedListType}"')}
    {f:if(condition: column.allowedGridType, then: 'data-allowed-tx_gridelements_backend_layout="{column.allowedGridType}"')}
    {f:if(condition: column.disallowedContentType, then: 'data-disallowed-ctype="{column.disallowedContentType}"')}
    {f:if(condition: column.disallowedListType, then: 'data-disallowed-list_type="{column.disallowedListType}"')}
    {f:if(condition: column.disallowedGridType, then: 'data-disallowed-tx_gridelements_backend_layout="{column.disallowedGridType}"')}
    data-maxitems="{column.maxitems}"
    data-state="{f:if(condition: column.collapsed, then: 'collapsed', else: 'expanded')}"
    class="t3js-page-lang-column-{column.context.siteLanguage.languageId} t3js-page-column t3-grid-cell t3-page-column t3-page-column-{column.columnNumber}
        {f:if(condition: column.gridContainerId, then: 't3-grid-container-cell')}
        {f:if(condition: column.active, else: 't3-grid-cell-unassigned')}
        {f:if(condition: column.collapsed, then: 'collapsed', else: 'expanded')}
        {f:if(condition: column.disableNewContent, then: 't3-page-ce-disable-new-ce', else: '')}
        {f:if(condition: gridElementsBackendLayout.horizontal, then: 't3-grid-cell-horizontal', else: '')}
        t3-gridCell-width{column.colSpan}
        t3-gridCell-height{column.rowSpan}">
    <f:render partial="PageLayout/Grid/ColumnHeader" arguments="{_all}" />
    <f:if condition="{column.unassigned}">
        <div class="t3-page-ce">
            <div class="t3-page-ce-header">Empty Colpos</div>
            <div class="t3-page-ce-body">
                <div class="t3-page-ce-body-inner">
                    <div class="row">
                        <div class="col-xs-12">
                            This column has no "colPos". This is only for display Purposes.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </f:if>
    <f:if condition="{column.items}">
        <div data-colpos="{column.columnNumber}" data-language-uid="{column.context.siteLanguage.languageId}"
            class="t3js-sortable t3js-sortable-lang t3js-sortable-lang-{column.context.siteLanguage.languageId} t3-page-ce-wrapper
                {f:if(condition: column.items, else: 't3-page-ce-empty')}">
            <f:for each="{column.items}" as="item">
                <f:render partial="PageLayout/Record" arguments="{_all}" />
            </f:for>
        </div>
    </f:if>
</td>
