[general]

# .................................................................................
# ...   (required) title (displayed in left sidebar (desktop) or top panel (mobile)
# .................................................................................

project     = gridelements

# .................................................................................
# ...   (recommended) version, displayed next to title (desktop) and in <meta name="book-version"
# ...   Set during rendering based on rendered version
# .................................................................................

release     = latest

# .................................................................................
# ...  (recommended) displayed in footer
# .................................................................................

copyright   =

[html_theme_options]

# .................................................................................
# ...  (recommended) to get the "Edit on GitHub Button"
# .................................................................................

# todo: checkout if this is already supported with Gitlab
# https://github.com/TYPO3-Documentation/sphinx_typo3_theme/issues/10
#github_branch        = main
#github_repository    = TYPO3-Documentation/TYPO3CMS-Guide-HowToDocument

# .................................................................................
# ...  (recommended) Fill in values to get links in the footer of rendered page
# .................................................................................

project_home         = https://gitlab.com/coderscare/gridelements
project_issues       = https://gitlab.com/coderscare/gridelements/-/issues
project_repository   = https://gitlab.com/coderscare/gridelements

[intersphinx_mapping]

# .................................................................................
# for cross-referencing across manuals (intersphinx) with :ref:
#
# You must uncomment all manuals you use in your cross-references
#
# Example usage:
#   :ref:`t3contribute:start` will link to start page of Contribution Guide
# .................................................................................

# ----------------
# official manuals
# ----------------

# t3home         = https://docs.typo3.org/
# h2document     = https://docs.typo3.org/m/typo3/docs-how-to-document/main/en-us/
# t3contribute   = https://docs.typo3.org/m/typo3/guide-contributionworkflow/main/en-us/
# t3coreapi      = https://docs.typo3.org/m/typo3/reference-coreapi/main/en-us/
# t3docteam      = https://docs.typo3.org/m/typo3/team-t3docteam/main/en-us/
# t3editors      = https://docs.typo3.org/m/typo3/tutorial-editors/main/en-us/
# t3extbase      = https://docs.typo3.org/m/typo3/guide-extbasefluid/main/en-us/
# t3extbasebook  = https://docs.typo3.org/m/typo3/book-extbasefluid/main/en-us/
# t3install      = https://docs.typo3.org/m/typo3/guide-installation/main/en-us/
# t3l10n         = https://docs.typo3.org/m/typo3/guide-frontendlocalization/main/en-us/
# t3start        = https://docs.typo3.org/m/typo3/tutorial-getting-started/main/en-us/
# t3sitepackage  = https://docs.typo3.org/m/typo3/tutorial-sitepackage/main/en-us/
# t3tca          = https://docs.typo3.org/m/typo3/reference-tca/main/en-us/
# t3templating   = https://docs.typo3.org/m/typo3/tutorial-templating/main/en-us/
# t3ts45         = https://docs.typo3.org/m/typo3/tutorial-typoscript-in-45-minutes/main/en-us/
# t3tsconfig     = https://docs.typo3.org/m/typo3/reference-tsconfig/main/en-us/
# t3tsref        = https://docs.typo3.org/m/typo3/reference-typoscript/main/en-us/
# t3vhref        = https://docs.typo3.org/other/typo3/view-helper-reference/main/en-us/

# ----------------
# system extension
# ----------------

# ckedit         = https://docs.typo3.org/c/typo3/cms-rte-ckeditor/main/en-us/
# t3core           = https://docs.typo3.org/c/typo3/cms-core/main/en-us/
# form           = https://docs.typo3.org/c/typo3/cms-form/main/en-us/
# fsc            = https://docs.typo3.org/c/typo3/cms-fluid-styled-content/main/en-us/
# sched          = https://docs.typo3.org/c/typo3/cms-scheduler/main/en-us/

