<div class="t3-page-column-header">
    <f:if condition="{column.active}">
        <f:then>
            <div class="t3-page-column-header-icons">
                <f:if condition="{allowEditContent} && {column.editUrl}">
                    <a href="{column.editUrl}" title="{column.editLinkTitle}"><core:icon identifier="actions-document-open" /></a>
                </f:if>
                <f:if condition="{column.gridContainerId}">
                    <f:if condition="{column.collapsed}">
                        <f:then>
                            <a href="#"
                               class="btn btn-default t3js-toggle-gridelements-column toggle-content"
                               title="{f:translate(key: 'LLL:EXT:gridelements/Resources/Private/Language/locallang_db.xlf:tx_gridelements_expandcontent')}"
                               data-toggle-title="{f:translate(key: 'LLL:EXT:gridelements/Resources/Private/Language/locallang_db.xlf:tx_gridelements_collapsecontent')}"
                               data-state="collapsed">
                                <core:icon identifier="actions-view-list-collapse" />
                                <core:icon identifier="actions-view-list-expand" />
                            </a>
                        </f:then>
                        <f:else>
                            <a href="#"
                               class="btn btn-default t3js-toggle-gridelements-column toggle-content"
                               title="{f:translate(key: 'LLL:EXT:gridelements/Resources/Private/Language/locallang_db.xlf:tx_gridelements_collapsecontent')}"
                               data-toggle-title="{f:translate(key: 'LLL:EXT:gridelements/Resources/Private/Language/locallang_db.xlf:tx_gridelements_expandecontent')}"
                               data-state="expanded">
                                <core:icon identifier="actions-view-list-collapse" />
                                <core:icon identifier="actions-view-list-expand" />
                            </a>
                        </f:else>
                    </f:if>
                </f:if>
            </div>
            {f:translate(key:column.columnName,default:column.columnName)}
        </f:then>
        <f:else if="{column.unassigned}">
            {column.titleUnassigned}
        </f:else>
        <f:else>
            {column.titleInaccessible}
        </f:else>
    </f:if>
</div>
<f:if condition="{column.maxItems}">
    <span class="t3-grid-cell-number-of-items {column.maxItemsClass}">{column.numberOfItems}/{column.maxItems}</span>
</f:if>
<f:if condition="{allowEditContent} && {column.contentEditable} && {column.context.allowNewContent}">
    <f:if condition="{column.gridContainerId}">
        <f:then>
            <div class="t3-page-ce t3js-page-ce" data-container="{column.gridContainerId}" id="{column.uniqueId}">
                    <div class="t3js-page-new-ce t3js-page-new-ce-allowed t3-page-ce-wrapper-new-ce" id="colpos-{column.columnNumber}-container-{column.gridContainerId}-{column.uniqueId}">
                        <a href="{column.newContentUrlWithRestrictions}" title="{newContentTitle}" data-title="{newContentTitle}"
                           class="btn btn-default btn-sm {f:if(condition:column.context.drawingConfiguration.showNewContentWizard, then: 't3js-toggle-new-content-element-wizard disabled')}">
                            <core:icon identifier="actions-add" />
                            {newContentTitleShort}
                        </a>
                    </div>
                <div class="t3-page-ce-dropzone-available t3js-page-ce-dropzone-available"></div>
            </div>
        </f:then>
        <f:else>
            <div class="t3-page-ce t3js-page-ce" data-page="{column.context.pageId}" id="{column.uniqueId}">
                <div class="t3js-page-new-ce t3js-page-new-ce-allowed t3-page-ce-wrapper-new-ce" id="colpos-{column.columnNumber}-page-{column.context.pageId}-{column.uniqueId}">
                    <a href="{column.newContentUrlWithRestrictions}" title="{newContentTitle}" data-title="{newContentTitle}"
                       class="btn btn-default btn-sm {f:if(condition:column.context.drawingConfiguration.showNewContentWizard, then: 't3js-toggle-new-content-element-wizard disabled')}">
                        <core:icon identifier="actions-add" />
                        {newContentTitleShort}
                    </a>
                </div>
                <div class="t3-page-ce-dropzone-available t3js-page-ce-dropzone-available"></div>
            </div>
        </f:else>
    </f:if>
</f:if>
